* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Nunito Sans", Alexandria;
  font-size: 20px;
}

header.scrolled{
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100001;
  padding-bottom: 20px;
  margin-bottom: 15px;
  transition: all 0.5s ease-in-out;
  flex-direction: row;
}
.header-spacer {
  height: 30px;
}



header a{
  text-decoration: none;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  padding: 8px;
}

header a:hover {
  background-color: rgb(230, 213, 183);
  transform: scale(1.1); /* Smooth scaling without affecting layout */
  transition: all 0.5s ease; /* Smooth hover effect */
  padding: 15px;
}


header img {
  width: 85px;
  height: auto;
  border-radius: 15px; 
  margin-left: 50px;
}

.navig{
  display: flex;
  gap: 10px;
  padding: 0 35px;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.navig{
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 8px 15px;
  transition: background-color 0.3s ease;
}

.dropdown .dropbtn {
  color: white;
  background-color: transparent;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s ease;
}

header .hamburger {
  flex-direction: column;
  gap: 5px;
  display: none;
  cursor: pointer;
}

header .hamburger span {
  width: 30px;
  height: 5px;
  border-radius: 50px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

#navMenu {
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
  flex-direction: column;
  width: 100%;
  background-color: rgb(62, 61, 61);
  height: 100vh;
  gap: 20px;
  padding: 20px;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
}

#navMenu.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.small-navig{  
  background-color: #3E3D3D;
  display: flex;
  flex-direction: column;
}

.dropdown-content{
  display: none;
  position: absolute;
  z-index: 1;
  flex-direction: column;
  min-width: 160px;
  background-color: rgb(62, 61, 61);
}

.dropdown-content a{
  color: white;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover{
  background-color: rgb(99, 99, 93) ;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.small-navig a{
  text-decoration: none;
  color: white;
  padding: 7px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.dropdown:hover .dropbtn {
  background-color: rgb(230, 213, 183);
  padding: 10xp;
}

.small-navig a:hover {
  background-color: rgb(158, 158, 34);
}


@media screen and (max-width: 668px){
  
  header img{
    margin-left: 15px;
  }
  header .navig {
    display: none;
  }
  header .hamburger {
    display: flex;
    
  }

  header {
    justify-content: space-between;
    position: relative;
  }
  #navMenu{
    z-index: 10000;
      display: flex;
      transition: all .5s ease-in-out;
      right: -200%;
      flex-direction: column;
  }
  #navMenu.active {
      display: flex;
  }
  .small-navig{
      display: flex;
  }
  .small-navig{
      position: fixed;
      top:130px;
      gap: 10px;
      padding: 10px 20px;
      flex-direction: column;
      width: 100%;
      margin-top: 10px;
      height: 100vh;
      text-align: center;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
  }

  .small-navig a{
      padding: 7px;
      width: 100%;
      background-color: gray;
      text-align: center;
      border-radius: 10px;
      
  }
}

.wrapper {
  width: 100%;
  height: 400px;
  background-image: url("hero-contact-4cf9fa21.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.wrapper h2 {
  color: white;
  font-size: 45px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.companyinfo {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 3px;
  border: 1px solid rgb(211, 211, 211);
  padding: 20px;

}

p {
  opacity: 0.7;
  font-size: 18px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

.help {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

form {
  display: flex;
  flex-direction: column;

}

.enter {
  border: 1px solid rgb(211, 211, 211);
  padding: 20px;
}

.enter div {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

form input {
  height: 40px;
  width: 400px;
}

select {
  height: 30px;
}

#lastenter {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#lastenter input {
  width: 15px;

}

#btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 250px;
  margin-left: 140px;
}

.info {
  margin-left: 100px;
  padding: 30px;

}

@media screen and (max-width: 872px) {
  .help {
    flex-direction: column;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  padding: 10px 10px 30px;
  gap: 20px;
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
  justify-content: center;
  font-size: 17px;

}

footer img {
  width: 50px;
  height: auto;
  border-radius: 15px;
}

footer p {
  font-size: 15px;
}

.footer-nav {
  display: flex;
  gap: 25px;
}